.header {
  background-color: var(--gray-800);
  display: flex;
  justify-content: center;
  padding: 1.25rem 0;
}

.header img {
  height: 2rem;
}

.title {
  font-weight: 700;
  font-size: 1.625rem;
  margin-left: 1rem;
}
